img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    width: 100%;
    overflow-x:  hidden;
}

footer {
    font-size: 12px;
    padding: 10px 10px;
    clear: left;
    text-align: center;
}

#nav {
    display: inline;
    text-align: center;
    padding: inherit;
    position: relative;
}

#nav ul {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    list-style: none;
    font-size: 20px;
}

#nav li {
    margin: 0;
    padding: 15px 40px;
    display: inline;
    list-style: none;
}

#nav a {
    color: black;
    margin: 0;
    display: inline;
    list-style: none;
    text-decoration: none;
    font-weight: lighter;
    margin-bottom: 5px;
}

#this_page {
    font-weight: lighter;
    text-decoration: underline;
    background-color: #FBE337;
}

h2 {
    text-align: center;
}